body {
  font-family: "Gill Sans", sans-serif;
  margin-top: 50px;
  text-align: center;
}

@media screen {
  body {
    background-image: url(../img/jac.png);
    background-size: 33vw;
    background-color: rgba(255, 0, 0, 0.1);
  }
}

#container {
  display: inline-block;
  background: rgba(255, 220, 255, 0.98);
  border: thin solid black;
  padding: 50px;
}

#toc {
  margin: 30px 0;
}

#toc > a {
  padding: 5px;
  margin: 5px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

tbody::before {
  height: 20px;
  display: table-row;
  content: "";
}

td {
  padding: 1em;
  margin: 1em;
  text-align: center;
}

td,
#toc > a {
  border: 1px solid grey;
}

td.week {
  background: rgba(128, 128, 255, 0.2);
}

td.off {
  background: grey;
  color: rgba(255, 255, 255, 0.7);
}

td.scheduled {
  background: #408;
  color: white;
}

td.continuation {
  font-size: 80%;
}

td.continuation::after {
  content: " continued.";
}

td.unscheduled {
  background: #eeeeef;
}

td.project {
  background: #40b;
}

tr.vacation {
  padding: 20px;
  background: #eeccee;
}

tr.unit {
  padding: 0;
}

/* Next two rules to make link target bigger. */
tr.unit td a.internal-link {
  display: inline-block;
}

tr.unit > td {
  width: 100%;
}

a.up {
  text-decoration: none;
  float: right;
}

tr.spacer {
  height: 20px;
}

tr.unit td {
  padding: 6px 20px;
}

tr.unit > td,
#toc > a {
  background: rgba(0, 0, 255, 0.25);
  color: #00007f;
}

td.scheduled[colspan="1"],
td.scheduled[colspan="2"],
td.off {
  font-size: 80%;
}

.extra {
  font-size: 60%;
}

#footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#footer div {
  flex-grow: 1;
  font-size: 12px;
  margin-top: 1em;
}

#footer div * {
  vertical-align: middle;
}

div.codeLink {
  text-align: right;
}

#length {
  text-align: left;
}

a.internal-link {
  text-decoration: none;
  color: inherit;
  width: 80%;
}

a.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden;
}

#details {
  display: none;
  position: fixed;
  top: 200px;
  left: 25vw;
  width: 50vw;
  height: 50vh;
  background: rgba(68, 0, 136, 0.95);
  color: white;
  padding: 50px;
  border: 2px solid white;
  text-align: left;
  overflow: scroll;
}
