@import url('base.css');

.expressions {
  max-width: 40em;
  margin: 50px auto;
  padding: 1em;
}

.expressions .questions {
  border: 1px solid #aaa;
  padding: 1em;
  margin: 1em 0;
}

.expressions .done {
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.expressions .marks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expressions .marks svg {
  width: 12px;
  height: 12px;
  margin: 0 3px;
}

.expressions .expression {
  line-height: 2em;
}

.expressions .expression h1 {
  font-size: 1.2em;
}

.expressions .input {
  width: 100%;
  text-align: center;
}

.expressions .input input {
  font-family: 'SF Mono', Monaco, Menlo, Consolas, 'Ubuntu Mono', 'Liberation Mono',
    'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 1.2em;
  width: 75%;
  padding: 2x;
  margin: 1em auto;
  text-align: center;
  border: 1px solid grey;
}

table.problems {
  width: 100%;
  font-size: 13px;
}

table.problems th,
table.problems td {
  text-align: center;
}

#results p {
  margin: 1em 0;
}

#completed {
  margin-top: 20px;
}

#completed table {
  width: 100%;
}

th.problem,
td.problem {
  text-align: left;
  width: 60%;
}

th.answer,
td.answer {
  text-align: left;
}

th.ok,
td.ok {
  text-align: center;
  width: 5%;
}
