@import url('base.css');

body {
  background: #f2f2f2;
}

.main {
  width: calc(min(40em, 80vw));
  margin: 50px auto;
  border: 1px solid #828282;
  background: rgba(196, 128, 196, 0.1);
  padding: 2em;
}

h1 {
  font-size: 2rem;
}

li {
  padding-top: 0.25em;
}
