<p class="codeLink">
          <a href="https://github.com/gigamonkey/repl">
            <img alt="GitHub" height="12" src="/img/GitHub-Mark-32px.png" width="12">
          </a>
          <a href="https://github.com/gigamonkey/intro-to-programming">https://github.com/gigamonkey/intro-to-programming</a>
        </p>
