 <h2>Put definitions here.</h2>
 <div id="editor"></div>
        <div id="toolbar">
          <span id="minibuffer"></span>
          <svg id="submit" class="bi" fill="#000"><use xlink:href="/img/bootstrap-icons.svg#arrow-clockwise"/></svg>
        </div>
