body {
    width: 100%;
    font-family: "Gill Sans", sans-serif;
    margin-top: 1in;
}

table {
    margin: auto;
}

h1 { text-align: center; }

tr {
    /*height: 75px;*/
}
td {
    padding: 1em;
    margin: 1em;
}

td { border: 1px solid grey; text-align: center; }
td.week { background: #64c; }

td.off { background: grey; }

td.scheduled { background: #408; color: white; }
td.unscheduled { background: #eeeeef; }

tr.ap-exams {
    background: rgba(0,0,0, 0.1);
}

tr.vacation { padding: 20px 0; }

td.scheduled[colspan="1"] { font-size: 80%; }
