body {
  font-family: "Gill Sans", sans-serif;
  margin-top: 50px;
  text-align: center;
  background-image: url(jac.png);
  background-size: 33vw;
  background-color: rgba(255, 0, 0, 0.1);
}

#container {
  display: inline-block;
  background: rgba(255, 220, 255, 0.98);
  border: thin solid black;
  padding: 50px;
}

table {
  margin-top: 0.5in;
  text-align: center;
  border-collapse: collapse;
}

tbody::before {
  height: 20px;
  display: table-row;
  content: "";
}

td {
  padding: 1em;
  margin: 1em;
  border: 1px solid grey;
  text-align: center;
}

td.week {
  background: rgba(128, 128, 255, 0.2);
}

td.off {
  background: grey;
  color: rgba(255, 255, 255, 0.7);
}

td.scheduled {
  background: #408;
  color: white;
}

td.unscheduled {
  background: #eeeeef;
}

td.project {
  background: #40b;
}

tr.ap-exams {
  background: rgba(0, 0, 255, 0.5);
}

tr.vacation {
  padding: 20px;
  background: #eeccee;
}

tr.unit {
  padding: 0;
}

tr.spacer {
  height: 20px;
}

tr.unit td {
  padding: 6px 20px;
  background: rgba(0, 0, 255, 0.25);
  color: #00007f;
}

td.scheduled[colspan="1"],
td.scheduled[colspan="2"],
td.off {
  font-size: 80%;
}

.extra {
  font-size: 60%;
}

#footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#footer div {
  flex-grow: 1;
  font-size: 12px;
  margin-top: 1em;
}

#footer div * {
  vertical-align: middle;
}

div.codeLink {
  text-align: right;
}

#length {
  text-align: left;
}
