<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Bouncing Ball</title>
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css">
  <link href="/css/canvas.css" media="all" rel="stylesheet" type="text/css">
  <link href="/js/index.css" media="all" rel="stylesheet" type="text/css">
  <script src="/js/index.js" type="module"></script>
</head>
<body>

  {% include 'banner' %}
  {% include 'toolbar' %}

  {{ content }}
</body>
</html>
