<div class="editor-controls">
  <h2>Put definitions here.</h2>
  <svg id="submit" class="bi run-code"><use xlink:href="/img/bootstrap-icons.svg#play-btn-fill"/></svg>
</div>
 <div id="editor"></div>
 <div id="toolbar">
   <span id="minibuffer"></span>
 </div>
