<div class="itp-toolbar">
  <span class="logo"><a href="/">Intro to Programming</a></span>
  <span class="buttons">
    {% if githubButton == 'true' %}
    <span class="github">
      <button>
        <svg id="github-icon" class="bi" fill="#000"><use xlink:href="/img/bootstrap-icons.svg#github"/></svg>
        <span>Log in</span>
      </button>
    </span>
    {% endif %}
  </span>
</div>
