---
layout: generic.liquid
style: expressions
script: expressions-game
githubButton: 'true'
---

<div class="expressions">

  <div class="questions">

    {{ content }}

    <div class="input">
      <input id="expression-input" type="text" placeholder="Type expression here"></input>
    </div>
  </div>

  <div class="done" hidden="true">
    All done! Good job!
  </div>
  <div class="marks"></div>
  <div id="results" class="test-results"></div>
  <div id="completed"></div>

</div>
