<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ title }}</title>


  {% if style %}
  <link href="/css/{{ style }}.css" rel="stylesheet" type="text/css">
  {% endif %}

  <link href="/css/toolbar.css" rel="stylesheet" type="text/css">

  {% if script %}
  <script src="/js/{{ script }}.js" type="module"></script>
  {% endif %}

</head>
<body>

  {% include 'banner' %}
  {% include 'toolbar' %}

  {{ content }}

</body>
</html>
