<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="/css/homepage.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="main">

    <p class="logo"><a href="/">Intro to Programming</a></p>

    {{ content }}

  </div>
</body>
</html>
